secret.yaml
regcred.yaml
unsealed.yaml
auth-secret.yaml

# temp
sportdings/config
erpnext/
regcred/
sky-argo-secret.yaml
harbor
redis-cluster
redis
redpanda-operator
sentry-kubernetes
mongodb-sharded

linkerd
metallb
mongo-config


grafana-dashboards
.idea/.gitignore
.idea/kube.iml
.idea/kubernetes-settings.xml
.idea/modules.xml
.idea/vcs.xml

argocd-secret.yaml