<!DOCTYPE html>
<head>
    <title>Angelegte Daten</title>
</head>
<body>
{% load static %}
<table style="white-space:nowrap;">
    <tr><td colspan="3"><h1>{{ saison.name }}</h1>{{ saison.startdate }}-{{ saison.enddate }}</td></tr>
    {% for w in saison.weeks %}
    <tr><td style="white-space:nowrap;" colspan="5"><h2>{{ w.wochen_name }}</h2>{{ w.start_datum }}-{{ w.end_datum }}</td></tr>
        {% for s in w.games %}
    <tr><td style="text-align:right"><img style="width: 40px;" src="{{ media }}{{ s.bild_1 }}"></td><td style="text-align:right">{{ s.mannschaft_1 }}</td><td>
        vs.
    </td><td  colspan="1">{{ s.mannschaft_2 }}</td><td colspan="2" style="text-align:left"><img style="width: 40px;" src="{{ media }}{{ s.bild_2 }}"></td></tr>
        {% endfor %}
    {% endfor %}
</table>
</body>
<footer></footer>
<script>
console.log("python ist a ned schön");
</script>